h1 {
  font-family: ProximaNova-Bold;
}
p {
  font-family: ProximaNova-Regular;
}
section#technology_section {
  text-align: center;
  padding: 80px 0px;
}
section#technology_section h3 {
  font-family: ProximaNova-Extrabld;
  font-size: 44px;
  color: #448BC9;
}
section#technology_section ul#stack_list {
  list-style: none;
  margin-top: 85px;
}
section#technology_section ul#stack_list li.stack_item {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  padding: 82px 0px 0px;
  position: relative;
  width: 150px;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
section#technology_section ul#stack_list li.stack_item > img {
  position: absolute;
  top: -52px;
  right: 14px;
}
section#technology_section ul#stack_list li.stack_item:hover {
  transform: translateY(-6px);
}
section#technology_section ul#stack_list li.stack_item:last-child {
  margin-right: 0px;
}
section#technology_section ul#stack_list li.stack_item:before {
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
section#technology_section ul#stack_list li.stack_item h6 {
  margin-bottom: 50px;
}
section#technology_section ul#stack_list li.stack_item span {
  font-family: ProximaNova-Regular;
  color: #717171;
  margin-bottom: 50px;
  display: inline-block;
  font-size: 18px;
  width: 140px;
  padding: 0px 8px;
  height: 50px;
}
section#technology_section ul#stack_list li.stack_item .companies_blk {
  background: #F5F5F5;
  padding: 15px;
}
section#technology_section ul#stack_list li.stack_item .companies_blk .companies {
  background-image: url(../../img/company_logos.png);
  background-position: -176px 0;
  width: 88px;
  height: 108px;
  display: inline-block;
}
section#technology_section ul#stack_list li.stack_item#python_item:before {
  background: #0769AD;
}
section#technology_section ul#stack_list li.stack_item#python_item h6 {
  font-family: ProximaNova-Bold;
  color: #0769AD;
}
section#technology_section ul#stack_list li.stack_item#python_item:hover {
  background: #0a69ad;
}
section#technology_section ul#stack_list li.stack_item#python_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item#mean_item:before {
  background: #8EC74F;
}
section#technology_section ul#stack_list li.stack_item#mean_item h6 {
  font-family: ProximaNova-Bold;
  color: #8EC74F;
}
section#technology_section ul#stack_list li.stack_item#mean_item .companies_blk .companies {
  background-position: -264px 0;
}
section#technology_section ul#stack_list li.stack_item#mean_item:hover {
  background: #8EC74F;
}
section#technology_section ul#stack_list li.stack_item#mean_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item#dotnet_item:before {
  background: #6A2B66;
}
section#technology_section ul#stack_list li.stack_item#dotnet_item h6 {
  font-family: ProximaNova-Bold;
  color: #6A2B66;
}
section#technology_section ul#stack_list li.stack_item#dotnet_item .companies_blk .companies {
  background-position: -352px 0;
}
section#technology_section ul#stack_list li.stack_item#dotnet_item:hover {
  background: #6A2B66;
}
section#technology_section ul#stack_list li.stack_item#dotnet_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item#java_item:before {
  background: #5382A1;
}
section#technology_section ul#stack_list li.stack_item#java_item h6 {
  font-family: ProximaNova-Bold;
  color: #5382A1;
}
section#technology_section ul#stack_list li.stack_item#java_item .companies_blk .companies {
  background-position: -440px 0;
}
section#technology_section ul#stack_list li.stack_item#java_item:hover {
  background: #5382A1;
}
section#technology_section ul#stack_list li.stack_item#java_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item#rails_item:before {
  background: #CB3737;
}
section#technology_section ul#stack_list li.stack_item#rails_item h6 {
  font-family: ProximaNova-Bold;
  color: #CB3737;
}
section#technology_section ul#stack_list li.stack_item#rails_item .companies_blk .companies {
  background-position: -88px 0;
}
section#technology_section ul#stack_list li.stack_item#rails_item:hover {
  background: #CB3737;
}
section#technology_section ul#stack_list li.stack_item#rails_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item#lamp_item:before {
  background: #608DC0;
}
section#technology_section ul#stack_list li.stack_item#lamp_item h6 {
  font-family: ProximaNova-Bold;
  color: #608DC0;
}
section#technology_section ul#stack_list li.stack_item#lamp_item .companies_blk .companies {
  background-position: -528px 0;
}
section#technology_section ul#stack_list li.stack_item#lamp_item:hover {
  background: #608DC0;
}
section#technology_section ul#stack_list li.stack_item#lamp_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item#ios_item:before {
  background: #F99628;
}
section#technology_section ul#stack_list li.stack_item#ios_item h6 {
  font-family: ProximaNova-Bold;
  color: #F99628;
}
section#technology_section ul#stack_list li.stack_item#ios_item .companies_blk .companies {
  background-position: 0px 0;
}
section#technology_section ul#stack_list li.stack_item#ios_item:hover {
  background: #F99628;
}
section#technology_section ul#stack_list li.stack_item#ios_item:hover * {
  color: #fff;
}
section#technology_section ul#stack_list li.stack_item ul.company_list li.item {
  list-style: none;
}
.parallax-mirror {
  z-index: 99 !important;
}
/* pansamantagal na solution para sa parallax issue */
.parallax_block {
  height: 408px;
  /*@media screen and (max-width: 991px){
		height: 260px;
	}*/
}
.parallax_block .parallax-window {
  background: transparent;
  min-height: 408px;
  width: 100%;
  /*@media screen and (max-width: 991px){
			height: 260px;
		}*/
}
